@font-face {
  font-family: merriweather;
  src: url("lib/merriweather-font/Merriweather-Regular.ttf");
  font-weight: normal;
}

* {
  user-select: none;
  letter-spacing: 0.06rem;
  word-spacing: 0.12rem;
  font-family: merriweather;

  cursor: none;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main.page {
  width: 100vw;
  height: 100vh;
  position: relative;

  scroll-snap-align: center;
}

main.page * {
  z-index: 1;
  background: transparent;
}

h1,
h2 {
  scale: 2;
}

small {
  font-size: x-small;
}

span {
  font-size: small;
}

canvas {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: crimson;
}

#compliment {
  text-transform: capitalize;
  text-align: center;
}

#cursor {
  position: fixed;
  z-index: 10;
  min-width: 1rem;
  max-width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  mix-blend-mode: difference;
  pointer-events: none;

  transition: width 500ms ease-out;
}

#cursor.clickable {
  animation: clickable 900ms linear infinite;
}

@keyframes clickable {
  50% {
    box-shadow:
      0 0 0 8px #fcfcfc30;
  }
}

#quote {
  max-width: 90vw;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  text-align: center;
  opacity: 0.3;
}

.grid {
  display: grid;
  place-items: center;
}

/* theme */
#theme-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 10;
}

#theme-toggle+div.container * {
  color: #272727;
  background-color: #fcfcfc;
}

#theme-toggle:checked+div.container * {
  color: #fcfcfc;
  background-color: #272727;
}

#theme-toggle:checked+div.container #cursor {
  background: currentColor;
}

@media (hover:none){
  #cursor{
    display: none;
  }
}
