@font-face {
  font-family: merriweather;
  src: url("lib/merriweather-font/Merriweather-Regular.ttf");
  font-weight: normal;
}

* {
  color: #272727;
  user-select: none;
  letter-spacing: 0.06rem;
  word-spacing: 0.12rem;
  font-family: merriweather;

  cursor: none;
  scroll-behavior: smooth;
  background-color: #fcfcfc;
}

html,
body {
  scroll-snap-type: y mandatory;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

main.page {
  width: 100vw;
  height: 100vh;

  scroll-snap-align: center;
}

main.page * {
  z-index: 1;
  background: transparent;
}

h1,
h2 {
  scale: 2;
}

small {
  font-size: x-small;
}

span {
  font-size: small;
}

/* #emote {
  cursor: pointer;
} */

#compliment {
  text-transform: capitalize;
  /* cursor: pointer; */
}

#cursor {
  /* opacity: 0; */
  position: fixed;
  z-index: 10;
  min-width: 1rem;
  /* width: minmax(1rem,6rem); */
  max-width: 6rem;
  aspect-ratio: 1;
  border-radius: 100%;
  /* background: #272727; */
  mix-blend-mode: difference;
  /* transform: translateX(-50%); */
  /* cursor: none; */
  pointer-events: none;

  transition: width 500ms ease-out;
  /* box-shadow: 0 1px 900px #00f; */
  /* border: 100px solid yellow; */
  /* display: grid;
  place-items: center; */
  /* font-size: 0 !important;
  font-weight: bold;
  overflow: hidden; */
}

#cursor.clickable {
  animation: clickable 900ms linear infinite;
  /* font-size: small !important; */
}

@keyframes clickable {
  50% {
    box-shadow:
      0 0 0 8px #fcfcfc30;
  }
}

#quote {
  z-index: 0;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  width: 90vw;
  height: 100vh;

  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  word-spacing: 0.3rem;
  text-align: center;
  opacity: 0.1;
}

.grid {
  display: grid;
  place-items: center;
}

/* #bot{
  isolation: isolate;
  position: fixed;
  bottom: 10%;
  left: 40%;

  display: grid;
  grid-template-columns: 1fr;
}

#bot span{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
} */

/* .label{
  cursor: pointer;
  user-select: none;
  background: #27272715;
  padding: 0.1rem 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  font-size: small;
} */

/* #flood-text {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-120%);
} */
